canvas {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -999;
}

div.container {
    width: 25vw;
    margin: 25vh auto;
    background-color: blue;
    color: wheat;
    padding: 10px;
}
